<mat-card class="card">
  <img class="card-img"
       [src]="beverage.articles[0].image"
       [alt]="beverage.name"
  >

  <mat-card-content class="card-content">
    <mat-card-title>{{ beverage.name }}</mat-card-title>
    <mat-divider></mat-divider>
    <div class="info">
      <p class="description">
        {{ beverage.articles[0].shortDescription }} <br>
        {{ beverage.articles[0].pricePerUnitText }} <br>
        {{ beverage.brandName }}
      </p>
      <p class="price">{{ beverage.articles[0].price | currency: 'EUR' }}</p>
    </div>
  </mat-card-content>
</mat-card>
