.beverages-detail-view__card {
    display: flex;
    gap: 30px;
    height: 180px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 0 rgba(34, 60, 80, 0.2);
}

.beverages-detail-view__img {
    width: 45px;
    object-fit: contain;
    margin: 0 20px;
}

.beverages-detail-view__content {
    width: 100%;
    text-align: end;

    .mat-card-title {
        font-size: 1.3em;
    }

    .beverages-detail-view__info {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-top: 10px;
    }

    .beverages-detail-view__price {
        font-weight: bold;
        font-size: 1.1em;
    }

    .beverages-detail-view__description {
        font-size: 1em;
        color: rgba(0, 0, 0, .4);
        text-align: start;
    }
}

@media (max-width: 480px) {
    .beverages-detail-view__card {
        gap: 15px;
        padding: 15px;
    }
}
